  #banner {
    background: url("../imgs/banner.jpg") top center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .slide1 {
    background: url("../imgs/portfolio1.jpg") top center;
  }
  
  .slide2 {
    background: url("../imgs/portfolio2.jpg") top center;
  }
  
  .slide3 {
    background: url("../imgs/portfolio3.jpg") top center;
  }
  
  .slide4 {
    background: url("../imgs/portfolio4.jpg") top center;
  }