body {
	padding:0;
	margin: 0 auto;
	font-family: 'Poiret One', cursive;
	color: black;
	text-align: center;
}

p{
	font-family: 'Raleway', sans-serif;
	font-weight: 200;
	max-width: 9in;
	margin:0 auto;
}

a {
    color: white;
	text-decoration: none; /* Get rid of underline on hover. */
}

    a:hover {
        color: #1baabf;
		text-decoration: none; /* Get rid of underline on hover. */
		transition: 300ms ease color;
    }

	nav {
		text-align: left;
		width: 100%;
		/*height: 50px;*/
		position: fixed;
		margin: 0;
		padding-bottom: 10px;
		background-color: #222;
		opacity: 0.9;
	} 

	.navItem {
		position: relative;
		margin: 0 20px;
		color: #1baabf;
		font-family: 'Play', sans-serif;
	}
	
		.navItem:hover {
			transition: color 0.4s ease;
			color: white;
			cursor: pointer;
		}
	
	#navLogo { /* Image. */
		position: relative;
		top: 6px;
		max-height: 25px;
	}
	
	#navLogoBackground { /* Span (text and background for image). */
		margin-left: -10px;
		padding-top:20px;
		padding-bottom:10px;
		padding-right:5px;
		padding-left:10px;
		color: whitesmoke;
	}
	
		.landingLink:hover {
			cursor: pointer;
		}

		.panel-fade-in {
			/* Bring background into focus. */
			opacity: 1;
			transition: all 2s ease;
		}
		
		.panel-fade-out {
			/* Make background transparent. */
			opacity: 0;
			transition: all 2.0s ease;
		}
		
		/* Imitating the iphone scrollify example */
		/* Setting display: block, otherwise inline by default. */
		.image-start-pos {
			display: none;
		}
		
		.image-secondary-pos {
			display: block;
			position: fixed;
			right: 10vh;
			/* Position image 150% of screen size from top of first page (50% into second). */
			bottom: 10vh;
			transition: all 1.5s ease;
		}
		
		.hide {
			display: none;
		}
		
		.hidden {
			opacity: 0;
			transition: all 0.25s ease;
		}
		
		.fade-in {
			display: block;
			transition: all 0.75s ease;
		}

#site-title{
	width: 500px;
    font-size: 7rem;
	font-weight: 700;
	color:whitesmoke;
	border: 1px solid whitesmoke;
	margin: 0 auto;
	position: relative;
	top: 18vh;
}

#slug{
	position: relative;
	top:16vh;
	font-size: 1.5rem;
}

section{
	padding-top:60px;
}

#landing-section {
	padding-top:0px;
}

#about-section {
	background-color: whitesmoke;
}

#gallery-section {
	background-color: rgba(0,0,0,0.2);
}

#gallery-content {
	position: relative;
	/*top: 25%;*/
}

#contact-section {
	background-color: whitesmoke;
}

.formControl{
    padding:10px 0;
}

footer {
	position: absolute;
	bottom:60px;
	width: 100%;
	background-color: rgba(0,0,0,1);
}


#footer-content {
	font-size: small;
	padding-top:5px;
	padding-bottom:10px;
}

.footer-item {
	margin: 0 20px;
	color:whitesmoke;
}

@media only screen and (max-width: 600px) {
	
	#site-title{
	width: 100%;
    font-size: 4.5rem;
	}

	#slug{
		font-size:1.2rem;
	}

	.navItem{
		font-size: small;
		margin: 0 10px;
	}

	.footer-item{
		font-size: small;
		margin: 0 10px;
	}
}
